.kartica3{

    font-size:110%;
    
    
    margin-left: auto;
    margin-right:0 auto;
   
    align-items: center;
    height: auto;
    width: 100%;
    height: 200%;
    color: rgb(0, 0, 0);
    word-wrap: break-all;
    
}
.card-img-wrapper{
    margin-left: 5px;
    margin-right: 5px;
    margin-top:5px;
}
.slikta{
    height: 100%;
    width: 100%;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 0px 5px 5px #ccc;
  -moz-border-radius:25px;
  -webkit-border-radius:25px;
}
.table{
    font-weight: 1px;
    color:black;
    border: 0,5px solid;
    border-spacing: 0px;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
/* .desni{
    border-left: px solid;
    word-wrap: break-word
  
}
.lijevi{
    border-right: 1px solid;
    word-wrap: break-all;
    width: 400px;
  
} */
.buttonic{
    align-items: center;
    width:100%;
    
}
.button{
    width:50%;
    margin-left:25%;
    margin-right:25%;   
}
.karticaBody{
    align-items: center;
    
}
.card-body,.forma{
    width:100%;
}