<div class="crnci">
    <app-carousel></app-carousel>
</div>

<div class="razmak" >
    <table class="tablica">
        <tr>
            <td class="kockica1">
            </td>
            <td>
                <h1>Pojednostavljeno pronalaženje stanova</h1><br>
                Pogledajte najširu ponudu stanova u Bosni i Hercegovini <br>
                <br>
                <h2><a *appHasRole='["Member"]' routerLink="/members">Pogledajte više</a></h2>
            </td>
        </tr>
        <tr>
            <td>
                <h1>Što brže iznajmite svoje stanove</h1><br>
                Povežite se s velikim brojem korisnika širom Bosne i Hercegovine <br>
            </td>
            <td class= "kockica2">

            </td>
        </tr>
        <tr>
            <td class="kockica3">

            </td>
            <td>
                <h1>
                    Kontakt
                </h1>
                U slučaju problema javite nam se kontakt formom i mi ćemo pokušati što prije riješiti vaš problem
                <h2><a  routerLink="/mebmers">Kontaktirajte nas</a></h2>
            </td>
        </tr>
    </table>
</div>