.razmak{
    margin-bottom:20px
}
.tablica{
    color:rgb(0, 0, 0);
    width:100%;
    background-color:rgb(255, 255, 255);
}
.slika{
    
    height: 100%;
    justify-content: center;
}
.row{
    
    width: 100%;
}
.kockica1{
    background-image:url("/assets/novo1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 50%;
    height: 300px;

}
.kockica2{
    background-image:url("/assets/novo2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 50%;
    height: 300px;

}
.kockica3{
    background-image:url("/assets/novo3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 50%;
    height: 300px;

}
.tablicaD{
    margin-top:25px;
}